<nav class="my-custom-navbar">
  <span class="navbar-brand">My TODO List</span>
  <div class="navbar-nav">
    <!-- <a class="nav-item nav-link" href="#">LIST</a>
    <a class="nav-item nav-link" href="#">ADD</a> -->
    <a class="nav-item nav-link" routerLink="/add" routerLinkActive="active">ADD</a>
    <a class="nav-item nav-link" routerLink="/list" routerLinkActive="active">LIST</a>
    <a class="nav-item nav-link" routerLink="/favorite" routerLinkActive="active">FAVORITE TODO LIST</a>
  </div>
</nav>
<div class="container">
  <!-- <app-todo-form></app-todo-form>
  <app-todo-list></app-todo-list> -->
  <router-outlet></router-outlet>
</div>
